body{
    background-image: url(rrr.jpg);
    background-size: cover;
}

input[type=text]{
    color: rgb(111, 115, 117);
    width : 97%;
    padding : 4px 10px;
    margin : 10px 20;
    display: inline-block;
    border : 1px solid rgba(139, 138, 132, 0.925);
    box-sizing: border-box;
}
button{
    background-color: rgb(199, 150, 36);
    color: white;
    padding: 8px 14px;
    margin: 30px 125px;
    align-items: center;
    border : none;
    cursor : pointer;
    width: 40%;
}
button:hover{
    opacity: 0.8;
}
.hia{
    text-align: center;
    margin : 22px 0 12px;
}
img.uu{
    width: 60%;
    height:120px;
    border-radius: 20%;
}

.yee{
    padding:20px;
    margin: -2px 60px;
}
.yeee{
    padding:20px 16px ;
    width:70px;
    margin : -4px 60px;
}
.ya{
    padding:20px;
    margin:-2px 55px;
}
.yaa{
    padding:20px;
    margin:-4px 55px;
}
#card{
    background-color: #d3b27e;
    border-radius: 8px;
    box-shadow: 7px 9px 14px rgba(0, 0, 0, 0.65);
    height: 700px;
    margin : 4rem auto 8.1rem auto;
    width: 530px;
}

#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
.underline-title {
    background: -webkit-linear-gradient(right, #66c2a3, #5d66e2);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 150px;
}