
input[type=text]{
    width : 97%;
    padding : 4px 10px;
    margin : 10px 20;
    display: inline-block;
    border : 1px solid rgba(139, 138, 132, 0.925);
    box-sizing: border-box;
}
button{
    background-color: rgb(131, 171, 194);
    color: white;
    padding: 5px 14px;
    margin: 15px 90px;
    align-items: center;
    border : none;
    cursor : pointer;
    width: 40%;
}
button:hover{
    opacity: 0.8;
}
.hia{
    text-align: center;
    margin : 22px 0 12px;
}
img.uu{
    width: 40%;
    height:70px;
    border-radius: 20%;
}

.yee{
    padding:20px;
    margin: 1px 60px;
}
.yeee{
    padding:20 px ;
    margin: 0px 80px;
}
#card{
    background-color: #4b6662;
    border-radius: 8px;
    box-shadow: 7px 9px 14px rgba(0, 0, 0, 0.65);
    height: 500px;
    margin : 13rem auto 8.1rem auto;
    width: 430px;
}

#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
.underline-title {
    background: -webkit-linear-gradient(right, #66c2a3, #5d66e2);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

#layout{
    background-color:silver;
    width: 100%;
    margin:40px 0px;
    text-align:left;
    padding:2px;
}
#header{
    width: 100%;
    height:130px;
    background-image:url(m.jpg);
    position:relative;
}

h1{
    color:rgb(230, 170, 92);
    font-family: monospace;
    margin:15px 600px;
    font-size: 60px;
}
h2{
    color:white;
    font-family: monospace;
    font-size: 40px;
}
#yeeu{
    background-color: rgb(194, 141, 122);
    border-radius: 8px;
    box-shadow: 7px 9px 14px rgba(0, 0, 0, 0.65);
    height: 90%;
    margin : 3rem auto 8.1rem auto;
    width: 100%;
}
#yeuy{
   width : 100%;
}
#satu{
    width: 15%;
    height: 40px;
    margin: 0px 700px;
    background:rgb(146, 154, 158)

}
body{
    background-image: url(jh.jpg);
    background-position: top;
}
#layout{
    background-color:rgb(146, 135, 135);
    width: 100%;
    margin:auto;
    text-align:left;
    padding:2px;
}
#lay{
    background-color:rgb(100, 87, 87);
    width: 99%;
    margin:auto;
    text-align:left;
    padding:15px;
}
#out{
    background-color:rgb(167, 154, 154);
    width: 89%;
    margin:auto;
    text-align:left;
    padding:100px;
}
img{
    width:300px;
    height:300px;
}
#ug{
    background-color:rgb(163, 152, 152);
    width: 89%;
    margin:auto;
    text-align:left;
    padding:100px;
}
#no{
    background-color:rgb(114, 100, 100);
    width: 78%;
    margin:auto;
    text-align:left;
    padding:200px;
}
#cardd{
    background-color: #38615b;
    border-radius: 8px;
    box-shadow: 7px 9px 14px rgba(0, 0, 0, 0.65);
    height: 800px;
    margin : 13rem auto 8.1rem auto;
    width: 730px;
}

#cardd-content {
    padding: 12px 44px;
}
#cardd-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
.hiaa{
    text-align: center;
    margin : 22px 0 12px;
}
img.uuu{
    width: 45%;
    border-radius: 25%;
}

.www{
    padding:20px;
    margin: 1px 60px;
}
.ww{
    padding:20 px ;
    margin: 0px 80px;
}
.w{
    padding:20 px ;
    margin: 0px 80px;
}
#oi{
    margin: 0px 150px;
}
#layoutt{
    background-color:rgb(146, 135, 135);
    width: 100%;
    margin:auto;
    text-align:left;
    padding:50px;

}
